<div class="livingcss__section-description">{{{description}}}</div>

{{#if example}}
<div class="livingcss__section-example">{{{example.description}}}</div>
{{/if}}

{{#if code}}
<div class="livingcss__section-markup">
  <pre class="livingcss__section-code"><code class="language-{{code.type}}">{{code.description}}</code></pre>
</div>
{{/if}}