/*
  BASELINE FONT - 16px
  BASELINE GRID - 1.625rem

  MODULAR FONT SCALE
  ------------------
  14px - small
  16px - body, H6
  18px - H5
  22px - H4
  26px - H3
  30px - H2
  36px - H1
*/

/*
 * GLOBAL
 */
html {
  font-size: 14px;
}

html, body {
  height: 100%;
}

.livingcss {
  background: #fdfdfd;
  margin: 0 auto;
}

/*
 * TYPOGRAPHY
 * Scope styles to prevent cascading to the examples
 */
%heading-font {
  font-family: "Skolar Bold", "Segoe UI Bold", "Roboto Slab", "Droid Serif",
    AvenirNext-Bold, "Avenir Bold", Georgia,
    "Times New Roman", Times, serif;
  margin: 0;
}

%h1 {
  font-size: 2.25rem;    /* 36 / 16 */
  line-height: 3.25rem;  /* 1.625 * 2 */
}

%h2 {
  font-size: 1.875rem;   /* 30 / 16 */
  line-height: 3.25rem;  /* 1.625 * 2 */
}

%h3 {
  font-size: 1.625rem;   /* 26 / 16 */
  line-height: 3.25rem;  /* 1.625 * 2 */
}

%h4 {
  font-size: 1.375rem;   /* 22 / 16 */
}

%h5 {
  font-size: 1.125rem;   /* 18 / 16 */
}

%small-heading {
  line-height: 1.625rem;
  margin: 0;
}

.livingcss__header,
.livingcss__nav,
.livingcss__section-description,
.livingcss__footer {
  color: #212121;

  /* mobile first system ui font stack */
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

  line-height: 1.625rem;  /* 26px */

  h1, h2, h3, h4 {
    @extend %heading-font;
  }

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  h5 {
    @extend %h5;
  }

  h4, h5, h6 {
    @extend %small-heading;
  }

  p {
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0 0 1.625rem 0;
  }

  a,
  a:visited {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:hover {
    color: #1976d2;
    text-decoration: underline;
  }
}

h1.livingcss__article-title,
.livingcss__section > h1,
h2.livingcss__article-title,
.livingcss__section > h2,
h3.livingcss__article-title,
.livingcss__section > h3,
h4.livingcss__article-title,
.livingcss__section > h4 {
  @extend %heading-font;
}

h1.livingcss__article-title,
.livingcss__section > h1 {
  @extend %h1;
}

h2.livingcss__article-title,
.livingcss__section > h2 {
  @extend %h2;
}

h3.livingcss__article-title,
.livingcss__section > h3 {
  @extend %h3;
}

h4.livingcss__article-title,
.livingcss__section > h4 {
  @extend %h4;
}

h5.livingcss__article-title,
.livingcss__section > h5 {
  @extend %h5;
}

h4.livingcss__article-title,
.livingcss__section > h4,
h5.livingcss__article-title,
.livingcss__section > h5,
h6.livingcss__article-title,
.livingcss__section > h6 {
  @extend %small-heading;
}

/*
 * GRID
 */
.livingcss {
  .livingcss__wrapper {
    min-height: 100%;
    position: relative;
    transition: right 0.2s;
    right: 0;
  }

  .livingcss__container {
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    margin: 0 auto;
  }
}

/*
 * HEADER
 */
.livingcss  {

  .livingcss__header {
    position: relative;
  }

  .livingcss__header-title-container {
    background: #2196F3;
    padding: 0.8125rem 0;
  }

  .livingcss__header-title {
    font-size: 1.625rem;
    line-height: 1.625rem;
  }

  .livingcss__main-nav-container {
    padding: 0.40625rem 0;
  }


  .livingcss__nav-link {
    display: block;
    padding: 0.40625rem 0.8125rem;
  }

  a.livingcss__nav-link:hover,
  a.livingcss__nav-link:active,
  a.livingcss__nav-link:focus,
  a.livingcss__nav-link--active {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #2196F3;
    color: white;
    text-decoration: none;
  }

  .livingcss__menu {
    position: absolute;
    right: 1.625rem;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
    background: #1976D2;
    padding: 0.40625rem 0.8125rem;
  }
}

/*
 * CONTENT
 */
.livingcss__content {
  padding-bottom: 6.5rem;
}

/*
 * MAIN
 */
.livingcss {
  .livingcss__main {
    margin-top: 1.625rem;
    order: 2;
  }

  .livingcss__article-title {
    border-bottom: 1px solid #727272;
    margin-bottom: 1.625rem;
  }

  .livingcss__article:first-child .livingcss__article-title {
    margin-top: 0;
  }

  .livingcss__article + .livingcss__article {
    margin-top: 4.875rem;
  }

  .livingcss__section {
    margin-top: 1.625rem;
  }

  livingcss-example {
    border: 1px solid #B6B6B6;
    padding: 1rem;
    border-radius: .25rem .25rem 0 0;
    display: block;
  }

  .livingcss__section-markup {
    border: 1px solid #B6B6B6;
    border-top: 0;
    border-radius: 0 0 .25rem .25rem;
  }

  .livingcss__section-code,
  .livingcss__section-code[class*="language-"] {
    margin: 0;
    border-radius: 0 0 .25rem .25rem;
    padding: 0.40625rem 0.8125rem;
    line-height: 1.625rem;
  }
}

/*
 * NAV
 */
.livingcss {
  .livingcss__nav {
    order: 1;
  }

  .livingcss__nav-container {
    margin-top: 1.625rem;
  }
}

/*
 * FOOTER
 */
.livingcss {
  .livingcss__footer {
    background: #1976D2;
    bottom: 0;
    color: #727272;
    left: 0;
    padding: 1rem 0;
    position: absolute;
    right: 0;
    text-align: right;
  }

  .livingcss__footer a {
    font-weight: bold;
  }
}

/*
 * MOBILE BREAKPOINT
 */
@media (max-width: 992px) {
  .livingcss {
    .livingcss__main-nav {
      position: fixed;
      top: 0;
      right: -14rem;
      bottom: 0;
      width: 13rem;
      background: #fdfdfd;
      border-left: 1px solid #B6B6B6;
      transition: right 0.2s;
      padding: 0;
    }

    .livingcss__main-nav--open .livingcss__wrapper {
      right: 13rem;
    }

    .livingcss__main-nav--open .livingcss__main-nav {
      right: 0;
      box-shadow: -2px 0px 6px rgba(0,0,0,0.2);
    }

    .livingcss__main-nav-container {
      padding: 0;
    }

    .livingcss__nav-link {
      border-bottom: 1px solid #B6B6B6;
    }

    .livingcss__nav {
      display: none;
    }
  }
}

/*
 * DESKTOP BREAKPOINT
 */
@media (min-width: 993px) {
  html{
    font-size: 16px;
  }

  .livingcss {
    .livingcss__content {
      display: flex;
      flex-direction: row;
    }

    .livingcss__container {
      max-width: 964px;
      padding-left: 0;
      padding-right: 0;
    }

    .livingcss__nav {
      flex: 0 0 13rem;
      padding-right: 0.8125rem;
    }

    .livingcss__main-nav-container {
      border-bottom: 1px solid #B6B6B6;
    }

    .livingcss__main {
      flex: 1;
      max-width: 729px;
      padding-left: 0.8125rem;
    }

    .livingcss__nav-link--main {
      display: inline-block;
    }

    .livingcss__nav--fixed .livingcss__nav-container {
      position: fixed;
      top: 0;
      width: 13rem;
    }

    .livingcss__menu {
      display: none;
    }

    .livingcss__nav-link--main {
      font-size: 0.875rem;
      line-height: 1rem
    }
  }
}

/**
 * DESKTOP HD BREAKPOINT
 */
@media (min-width: 1200px) {
  .livingcss {
    .livingcss__container {
      max-width: 1170px;
    }

    .livingcss__main {
      max-width: 935px;
    }
  }
}

/*
 * HELPERS
 */
.livingcss {
  .livingcss__inverse-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
  }

  .livingcss__inverse-text a {
    color: white;
  }

  .livingcss__inverse-text a:hover,
  .livingcss__inverse-text a:active,
  .livingcss__inverse-text a:focus {
    color: white;
  }
}