/**
 * Buttons
 *
 * Your standard form button.
 *
 * @state :hover    - Highlights when hovering.
 * @state :disabled - Dims the button when disabled.
 * @state .primary  - Indicates button is the primary action.
 * @state .smaller  - A smaller button.
 *
 * @section
 *
 * @example
 * <button>Shiny</button>
 * <div>
 *   <span>Hello</span>
 * </div>
 */
button {
  padding: 5px 15px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: #ddd;
}

button:hover {
  background-color: #aaa;
}

button:disabled {
  opacity: 0.5;
}

button.primary {
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  color: #fff;
}
button.primary:hover {
  background-color: #569e3d;
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

button.smaller {
  font-size: 10px;
  padding: 4px 10px;
}

/**
 * JavaScript
 * @section
 * @language javascript
 * @example
 * <div id="test_this"></div>
 * <script>document.getElementById('test_this').innerHTML = 'Hello';</script>
 *
 * @code
 * document.getElementById('test_this').innerHTML = 'Hello';
 */

/**
 * @section No code
 * @example
 * <div>You can only see this</div>
 * @hideCode
 */